    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">

          <div class="col-lg-5 align-items-stretch video-box" style='background-image: url("media/images/main/about.jpg");'>
            <a href="#" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

            <div class="content">
              <h3>Насолодись <strong>делікатесами</strong></h3>
              <p>
                {{ about.about_title }}
              </p>
              <p class="fst-italic">
                {{ about.about_start_text }}
              </p>
              <ul>
                <li><i class="bx bx-check-double"></i>{{ about.about_p1 }}</li>
                <li><i class="bx bx-check-double"></i>{{ about.about_p2 }}</li>
                <li><i class="bx bx-check-double"></i>{{ about.about_p3 }}</li>
              </ul>
              <p>
                {{ about.about_end }}
              </p>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End About Section -->
