{% extends "index.html" %}

{% load static %}

{% block main_content %}
    {% include "carousel.html" %}

    <main id="main">

    <!-- ======= About Section ======= -->
    {% include "about.html" %}
    <!-- ======= Whu Us Section ======= -->
    {% include "whuus.html" %}<!-- End Whu Us Section -->

    <!-- ======= Menu Section ======= -->
    {% include "menu.html" %}

    <!-- ======= Specials Section ======= -->
    {% include "special.html" %}
    <!-- End Specials Section -->

    <!-- ======= Events Section ======= -->
    {% include "events.html" %}<!-- End Events Section -->

    <!-- ======= Book A Table Section ======= -->
    {% include "book_a_table.html" %}
    <!-- End Book A Table Section -->

    <!-- ======= Gallery Section ======= -->
    {% include "gallery.html" %}
    <!-- End Gallery Section -->

    <!-- ======= Chefs Section ======= -->
    {% include "chefs.html" %}<!-- End Chefs Section -->

    <!-- ======= Testimonials Section ======= -->
    {% include "testimonials.html" %}<!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    {% include "contacts.html" %}<!-- End Contact Section -->

  </main><!-- End #main -->
{% endblock main_content %}